In [4]:
import pandas as pd
import numpy as np
df = pd.read_csv('/Users/glebsokolov/MainDir/ab_data.csv')

In [ ]:
dict = {}
# Чтобы привести переменную к типу словаря нужно воспользоваться функцией dict() 
s = {}

In [10]:
t = [1, 2]
t = np.array(t) # лучше всего относиться к спискам numpy.ndarray как к массивам (то есть списка с элементами строго одного типа)
type(t) # определяет тип переменной
t

[1, '2']

In [2]:
df

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[294478 rows x 5 columns]