
<img src="../../img/ods_stickers.jpg">

## <center> [mlcourse.ai](https://mlcourse.ai) – открытый курс OpenDataScience по машинному обучению 

Автор материала: Юрий Кашницкий (@yorko в Slack ODS). Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [15]:
import pandas as pd
import numpy as np
%load_ext blackcellmagic

The blackcellmagic extension is already loaded. To reload it, use:
  %reload_ext blackcellmagic

In [79]:
from loguru import logger
logger.add("error.message.txt", format="{time} - {level} - {message}", level="DEBUG")

1

In [5]:
data = pd.read_csv("adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [14]:
male_count = len(data[data["sex"] == "Male"])
female_count = len(data[data["sex"] == "Female"])
male_count, female_count

(21790, 10771)

**2. Каков средний возраст (признак *age*) женщин?**

In [103]:
mean_female_age = data[data["sex"] == "Female"]["age"].mean()
mean_female_age

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [27]:
germans_ratio = (
    len(data[data["native-country"] == "Germany"]) / len(data)
)
germans_ratio

0.004207487485028101

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [119]:
data.groupby('salary')['age'].agg([np.mean, np.std, np.min, np.max])

             mean        std  amin  amax
salary
<=50K   36.783738  14.020088    17    90
>50K    44.249841  10.519028    19    90

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [105]:
data[data["salary"] == ">50K"]['education'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [54]:
grouped = data[["age", "race", "sex"]].groupby(["race", "sex"]).describe()
grouped.loc[("Amer-Indian-Eskimo", "Male")]

age  count    192.000000
     mean      37.208333
     std       12.049563
     min       17.000000
     25%       28.000000
     50%       35.000000
     75%       45.000000
     max       82.000000
Name: (Amer-Indian-Eskimo, Male), dtype: float64

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [75]:
data.rename(columns={"marital-status": "marital_status"}, inplace=True)

In [91]:
import snoop

In [93]:
@logger.catch
@snoop
def que_8():
    earn_much = data[(data["salary"] == ">50K") & (data["sex"] == "Male")]
    earn_much[["marital_status", "salary"]].groupby("marital_status").count()
    married = len(earn_much[earn_much.marital_status.str.contains("Married")])
    unmarried = len(earn_much[~earn_much.marital_status.str.contains("Married")])
    return married / len(earn_much) > unmarried / len(earn_much)


print(que_8())

21:44:29.62 >>> Call to que_8 in File "/var/folders/t0/fw3jvl196_v78v94hzhxhpgw0000gn/T/ipykernel_96502/2404239521.py", line 3
21:44:29.62    3 | def que_8():
21:44:29.63    4 |     earn_much = data[(data["salary"] == ">50K") & (data["sex"] == "Male")]
21:44:29.64 .......... earn_much =        age         workclass  fnlwgt     education  ...  capital-loss hours-per-week native-country salary
21:44:29.64                        7       52  Self-emp-not-inc  209642       HS-grad  ...             0             45  United-States   >50K
21:44:29.64                        9       42           Private  159449     Bachelors  ...             0             40  United-States   >50K
21:44:29.64                        10      37           Private  280464  Some-college  ...             0             80  United-States   >50K
21:44:29.64                        11      30         State-gov  141297     Bachelors  ...             0             40          India   >50K
21:44:29.64                        ...    ...               ...     ...           ...  ...           ...            ...            ...    ...
21:44:29.64                        32533   54           Private  337992     Bachelors  ...             0             50          Japan   >50K
21:44:29.64                        32539   71                 ?  287372     Doctorate  ...             0             10  United-States   >50K
21:44:29.64                        32554   53           Private  321865       Masters  ...             0             40  United-States   >50K
21:44:29.64                        32557   40           Private  154374       HS-grad  ...             0             40  United-States   >50K
21:44:29.64
21:44:29.64                        [6662 rows x 15 columns]
21:44:29.64 .......... earn_much.shape = (6662, 15)
21:44:29.64    5 |     earn_much[["marital_status", "salary"]].groupby("marital_status").count()
21:44:29.66    6 |     married = len(earn_much[earn_much.marital_status.str.contains("Married")])
21:44:29.68 .......... married = 5965
21:44:29.68    7 |     unmarried = len(earn_much[~earn_much.marital_status.str.contains("Married")])
21:44:29.70 .......... unmarried = 697
21:44:29.70    8 |     return married / len(earn_much) > unmarried / len(earn_much)
21:44:29.71 <<< Return value from que_8: True

True

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [110]:
data["hours-per-week"].max()

99

In [107]:
data["hours-per-week"].max()
len(data[(data["hours-per-week"] == 99 & (data["salary"] == ">50K"))])

2

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [116]:
means = (
    data[data["native-country"] == "Japan"]
    .groupby(["native-country", "salary"])[
        ["hours-per-week", "native-country", "salary"]
    ]
    .mean()
)
means

                       hours-per-week
native-country salary
Japan          <=50K        41.000000
               >50K         47.958333