In [5]:
import sqlalchemy as sql, pandas as pd
from scipy.stats import ttest_ind

In [2]:
cred = {"host": 'localhost', 'dbname': 'yukontaf', 'user': 'postgres', 'password': 'J4dxuWnEtxtebHH-fggfj_Ex'}
from sqlalchemy import create_engine

con = create_engine(
    f'postgresql://{cred["user"]}:{cred["password"]}@{cred["host"]}/{cred["dbname"]}'
)


def select(sql, con):
    with open(sql) as f:
        return pd.read_sql(f.read(), con)


def send(table, name):
    return table.to_sql(name, if_exists='replace', con=con)

In [3]:
df = pd.read_csv('/Users/glebsokolov/Downloads/archive-2/student-mat.csv')
send(df, 'SAC')

395

In [4]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [18]:
m, f=df[df['sex']=='M']['Walc'].values, df[df['sex']=='F']['Walc'].values

In [20]:
ttest_ind(m, f, alternative='greater')

Ttest_indResult(statistic=5.652307333203956, pvalue=1.523377915278682e-08)

In [17]:
f.mean()

2.663101604278075