In [2]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

matplotlib.style.use("seaborn-whitegrid")
pd.set_option("display.width", 5000)
pd.set_option("display.max_columns", 60)
plt.rcParams["figure.figsize"] = (15, 10)

%load_ext snoop
%config InlineBackend.figure_format = 'retina'
# %config InlineBackend.figure_format = 'svg'
# show all output not only the last result
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"
import warnings

warnings.filterwarnings('ignore')

In [42]:
# %%script false --no-raise-error

from sqlalchemy import create_engine

con = create_engine(
    'postgresql://bvxlccko:J5INvQ-EPCGWDrZDxgtuRhagNAtCzz4j@castor.db.elephantsql.com/bvxlccko'
)

In [45]:
import sqlite3 as sql

con = sql.connect('semrush.db')

In [46]:

def select(sql):
    return pd.read_sql(sql, con)

In [3]:
# %%script false --no-raise-error

from random import randrange
import datetime


def random_date(start, l):
    current = start
    while l >= 0:
        curr = current + datetime.timedelta(minutes=randrange(60))
        yield pd.to_datetime(curr)
        l -= 1


startDate = datetime.datetime(2021, 1, 1, 13, 00)

In [30]:
# %%script false --no-raise-error

import uuid

rng = np.random.default_rng()

days = [startDate + datetime.timedelta(days=i) for i in range(365)]
daily_counts = [rng.integers(100, 1000) for i in range(365)]
dates = np.array([
    list(random_date(day, cnt)) for day, cnt in zip(days, daily_counts)
])
flatten_lambda = lambda lst: (item for sublist in lst for item in sublist)
dates = list(flatten_lambda(dates))

ids = [uuid.uuid4() for i in range(len(dates))]
amounts = [rng.integers(10**3, 10**12) for i in range(len(dates))]

In [31]:
# %%script false --no-raise-error

data = [[date, amount] for date, amount in zip(dates, amounts)]
df = pd.DataFrame(data, index=ids, columns=['date', 'amount']).reset_index()
df['index'] = df['index'].apply(lambda x: str(x)[:8])
df.columns = ['id', 'date', 'amount']
df.to_sql('semrush_bank',con, index=False, if_exists='replace')

192811

In [56]:
with open('/Users/glebsokolov/HeadRepo/NRepo/DSw-190B') as f:
    t=select(f.read())
    t

          MONTH        amount        id     rn    cnt
0       2021-01  134232386629  8d67047b   2250   2250
1       2021-01  282892874847  2dfddde0   4775   4775
2       2021-01  392311151996  890b33a8   6542   6542
3       2021-01  393015322145  68cfdc92   6551   6551
4       2021-01  665137787764  cf8cef10  11022  11022
...         ...           ...       ...    ...    ...
192806  2021-12  810957293003  416822d2  13293  13293
192807  2021-12  842361817639  9913052c  13791  13791
192808  2021-12  863229447002  dc3ffc74  14156  14156
192809  2021-12  871133094848  a02d2457  14278  14278
192810  2021-12  900811580653  8188babd  14760  14760

[192811 rows x 5 columns]