In [2]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

matplotlib.style.use("seaborn-whitegrid")
pd.set_option("display.width", 5000)
pd.set_option("display.max_columns", 60)
plt.rcParams["figure.figsize"] = (15, 10)

%load_ext snoop
%config InlineBackend.figure_format = 'retina'
# %config InlineBackend.figure_format = 'svg'
# show all output not only the last result
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"
import warnings
pd.set_option('display.float_format', lambda x: '%.2f' % x)

warnings.filterwarnings('ignore')

Дана таблица payments с данными вида payment_id, payment_date, amount. В таблице данные за последние несколько лет, число платежей достаточно большое, десятки тысяч, размер платежей тоже сильно отличается. Ваши коллеги хотели бы лучше понять наших крупных клиентов и попросили вас вывести по платежам с начала 2021 года по каждому месяцу самые крупные платежи. Их интересует TOP 5% платежей и значения выручки (amount) в этих платежах. Напишете SQL запрос к payments, который выведет по каждому месяцу с начала 2021 5% самых крупных платежей в этот месяц, а в дополнительной колонке month_sum покажет общую выручку по всем платежам в этот месяц. Итоговая таблица должна содержать колонки month, payment_id, payment_date, amount, month_sum, результаты необходимо отсортировать по месяцу и размеру платежа (обе колонки - по убыванию).  Результат этого задания - готовый SQL запрос. Попрошу ссылку вставить в ответ:

In [59]:
from sqlalchemy import create_engine

con = create_engine(
    'postgresql://bvxlccko:J5INvQ-EPCGWDrZDxgtuRhagNAtCzz4j@castor.db.elephantsql.com/bvxlccko'
)


def select(sql):
    return pd.read_sql(sql, con)

In [45]:
%%script false --no-raise-error

import sqlite3 as sql

con = sql.connect('semrush.db')


def select(sql):
    return pd.read_sql(sql, con)

In [3]:
# %%script false --no-raise-error

from random import randrange
import datetime


def random_date(start, l):
    current = start
    while l >= 0:
        curr = current + datetime.timedelta(minutes=randrange(60))
        yield pd.to_datetime(curr)
        l -= 1


startDate = datetime.datetime(2021, 1, 1, 13, 00)

In [78]:
# %%script false --no-raise-error

import uuid

rng = np.random.default_rng()

days = [startDate + datetime.timedelta(days=i) for i in range(365)]
daily_counts = [rng.integers(5, 15) for i in range(365)]
dates = np.array(
    [list(random_date(day, cnt)) for day, cnt in zip(days, daily_counts)])
flatten_lambda = lambda lst: (item for sublist in lst for item in sublist)
dates = list(flatten_lambda(dates))

ids = [uuid.uuid4() for i in range(len(dates))]
amounts = [rng.integers(10**3, 10**8) for i in range(len(dates))]

In [79]:
# %%script false --no-raise-error

data = [[date, amount] for date, amount in zip(dates, amounts)]
df = pd.DataFrame(data, index=ids, columns=['date', 'amount']).reset_index()
df['index'] = df['index'].apply(lambda x: str(x)[:8])
df.columns = ['id', 'date', 'amount']
df.to_sql('semrush_bank_small', con, index=False, if_exists='replace')

779

In [81]:
with open('/Users/glebsokolov/HeadRepo/NRepo/DSw-190B') as f:
    t = select(f.read())
    t

            id                date       amount            month_sum
0     f2d12bad 2021-01-21 13:35:00    119798449 8278457370678161.000
1     8997f5c2 2021-01-21 13:02:00    186236780 8278457370678161.000
2     fb1c6c41 2021-01-05 13:40:00    386534157 8278457370678161.000
3     3934be06 2021-01-17 13:21:00    517255524 8278457370678161.000
4     3f9c4f20 2021-01-18 13:07:00    562770266 8278457370678161.000
...        ...                 ...          ...                  ...
9636  9fb4a4d4 2021-12-30 13:41:00  49673289147 8216849349290511.000
9637  8f06d978 2021-12-30 13:58:00  49690480686 8216849349290511.000
9638  facbc880 2021-12-18 13:13:00  49754735419 8216849349290511.000
9639  c838dd3b 2021-12-22 13:18:00  49806040257 8216849349290511.000
9640  49f160a5 2021-12-08 13:06:00  49810998796 8216849349290511.000

[9641 rows x 4 columns]

In [ ]:
t.to_excel('semrush_extract.xlsx')