1. С помощью цикла найти сумму чисел от X1 до X2, где X1 и X2 - переменные, которые проставляются выше
2. Пользователь вводит число. Если это число чётное - вывести "ЧИСЛО ЧЁТНОЕ", если нет - вывести "ЧИСЛО НЕЧЁТНОЕ"
3. Пользователь задаёт три числа. Если среди них есть равные друг другу, то вывести YES, если нет вывести ERROR
4. Пользователь задаёт три числа. Если все эти числа равны друг другу, то вывести YES, если нет вывести ERROR
5. Импортируйте csv файл с таблицей skytaxi.order_list. Осмотрите датафрейм с помощью head & tail. Замените нуллы в колонках assign_time, arrive_to_client_time и order_finish_time на 01.01.3000
6. Напишите функцию, которая будет делать анализ числа (аргумент - одно число):
    - Если число = 0, то функция напишет "введите ненулевое число"
    - Функция скажет, является ли число чётным
    - Функция скажет, больше ли это число чем 10
    - Функция напечатает квадрат и куб этого числа
    - Функция скажет, является ли число отрицательным

In [12]:
import pandas as pd

In [42]:
# №1
X1, X2 = int(input()), int(input())
sum = 0
for i in range(X1, X2+1):
    sum += i

In [5]:
# №2
num = int(input())
if num % 2 == 0: print('Even')
else: print('Odd')

Even

In [9]:
# №3
nums = [int(input()) for i in range(3)]
comparisons = []
for i in range(len(nums)):
    for j in range(len(nums)):
        if i != j:
            if nums[i] == nums[j]: comparisons.append(True)
            else: comparisons.append(False)
if True in comparisons: print('YES')
else: print('ERROR')

[1, 2, 3]
ERROR

In [11]:
# №4
nums = [int(input()) for i in range(3)]
comparisons = []
for i in range(len(nums)):
    for j in range(len(nums)):
        if i != j:
            if nums[i] == nums[j]: comparisons.append(True)
            else: comparisons.append(False)
if False not in comparisons: print('YES')
else: print('ERROR')

ERROR

In [13]:
# №5
df = pd.read_csv('skytaxi_order_list.csv')
df.head()

,id_order,id_driver,order_time,assign_time,arrive_to_client_time,order_finish_time,id_tariff,id_city
0,113612,1644.0,2021-07-01T00:13:39,NaN,NaN,NaN,11.0,117
1,110195,280.0,2021-07-01T00:17:26,2021-07-01T00:23:26,2021-07-01T00:33:26,NaN,11.0,112
2,114560,2536.0,2021-07-01T00:36:00,2021-07-01T00:41:00,2021-07-01T00:44:00,2021-07-01T01:42:00,10.0,115
3,111284,NaN,2021-07-01T00:36:32,NaN,NaN,NaN,11.0,111
4,110131,3730.0,2021-07-01T00:36:34,2021-07-01T00:40:34,2021-07-01T00:50:34,NaN,10.0,118

In [14]:
df.tail()

,id_order,id_driver,order_time,assign_time,arrive_to_client_time,order_finish_time,id_tariff,id_city
4995,110175,3952.0,2021-07-31T22:23:06,2021-07-31T22:25:06,2021-07-31T22:33:06,2021-07-31T23:09:06,10.0,111
4996,112011,869.0,2021-07-31T22:33:22,NaN,NaN,NaN,10.0,116
4997,113759,2831.0,2021-07-31T22:38:43,2021-07-31T22:41:43,2021-07-31T22:52:43,2021-07-31T23:14:43,10.0,111
4998,113847,3443.0,2021-07-31T22:42:38,2021-07-31T22:46:38,NaN,NaN,1.0,113
4999,110907,1487.0,2021-07-31T23:09:15,2021-07-31T23:15:15,2021-07-31T23:27:15,2021-07-31T23:59:15,10.0,119

In [17]:
df[['assign_time', 'order_finish_time', 'arrive_to_client_time']] = \
                df[['assign_time', 'order_finish_time', 'arrive_to_client_time']].fillna('3000.01.01', axis=1)

In [36]:
def analyse_number(num):
    if num == 0: return print('Enter a non-zero number')
    chars = []
    chars.append('Even' if num%2==0 else 'Odd')
    chars.append('num >= 10' if num>=10 else 'num < 10')
    chars.extend(['num^2='+str(num**2), 'num^3='+str(num**3)])
    chars.append('positive' if num>0 else 'negative')
    return print(', '.join(chars))

In [38]:
analyse_number(200)

Even, num >= 10, num^2=40000, num^3=8000000, positive

In [39]:
analyse_number(0)

Enter a non-zero number